section .box-shadow{
  padding-top: 30px;
  padding-bottom: 30px;
  div.row{
    div.col-12{
      div.single-content{
        box-shadow: 0 0 0 5px crimson;
        .img-fluid{
          border-radius: 50%;
        }
        h3{
          span{}
        }
        a{}
        p{}
      }
    }
  }

}