section.works{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-size: cover;
  background-position-y: 20px;
  div.container-fluid{
    div.row{
      div.col-12{

        a{
          color: #0b5cd5;
          font-size: 33px;
          font-family: cursive;
          text-decoration: none;
          img {
            width: 70px;

          }

        }
        p {
          color: white;
          white-space: pre-wrap;
        }
        img {

        }
      }
    }
  }
}